
p, .description {
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}


#header {
  background: url('../img/table.jpg');
  background-size: cover;
}
